* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* h1 {
  border: 1px solid red;
  padding: 10px;
  width: 400px;
}

h2 {
  border: 1px solid green;
  padding: 10px;
  width: 400px;
} */

#s1 {
  border: 15px solid rgb(255, 0, 0);
  width: 400px;
  padding: 13px;
  height: 70px;
}

#s2 {
  border: 1px solid rgb(0, 0, 0);
  width: 400px;
  height: 70px;
}
